/** CChat application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.application_title {
	font-family: Arial, Verdana, tahoma, serif;
    color: #454545;
    font-size: 20px;
}

.interactImageHover {
    font-family: Verdana, Bitstream Vera Sans, sans-serif;
    font-size: 11px;
    border: 1px solid #808080;
    padding: 5px;
    background-color: #b8d0ff;
    color: black;
}

.copyright {
	padding-top: 10px;
	font-size: 9px;
	text-align: center;
}

.areaErrors {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #cc0000;
	border: 3px solid #cc0000;
	padding: 6px 10px 6px 10px;
	font-size: 100%;
	width: 50%;
}

.inboundMsgGridRecord,
.inboundMsgGridRecordDark {
    font-size: 11px;
    color: black;
    border-bottom: 1px solid;
    border-bottom-color: #ededed;
    background-color: #9fff79;
}
.inboundMsgGridRecordOver,
.inboundMsgGridRecordOverDark {
    font-size: 11px;
    color: black;
    border-bottom: 1px solid;
    border-bottom-color: #ededed;
    background-color: #cccccc;
}
.inboundMsgGridRecordSelected,
.inboundMsgGridRecordSelectedDark {
    font-size: 11px;
    color: black;
    border-bottom: 1px solid;
    border-bottom-color: #ededed;
    background-color: #d9e4f6;
}
.inboundMsgGridRecordSelectedOver,
.inboundMsgGridRecordSelectedOverDark {
    font-size: 11px;
    color: black;
    border-bottom: 1px solid;
    border-bottom-color: #ededed;
    background-color: #d0dff6;
}
.inboundMsgGridRecordDisabled,
.inboundMsgGridRecordDisabledDark {
    font-size: 11px;
    color:#aaaaaa;
    border-bottom: 1px solid;
    border-bottom-color: #ededed;
	background-color:#ffffff;
}

.outboundMsgGridRecord,
.outboundMsgGridRecordDark {
    font-size: 11px;
    color: black;
    border-bottom: 1px solid;
    border-bottom-color: #ededed;
    background-color: #fafafa;
}
.outboundMsgGridRecordOver,
.outboundMsgGridRecordOverDark {
    font-size: 11px;
    color: black;
    border-bottom: 1px solid;
    border-bottom-color: #ededed;
    background-color: #cccccc;
}
.outboundMsgGridRecordSelected,
.outboundMsgGridRecordSelectedDark {
	font-size: 11px;
    color: black;
    border-bottom: 1px solid;
    border-bottom-color: #ededed;
    background-color: #d9e4f6;
}
.outboundMsgGridRecordSelectedOver,
.outboundMsgGridRecordSelectedOverDark {
    font-size: 11px;
    color: black;
    border-bottom: 1px solid;
    border-bottom-color: #ededed;
    background-color: #d0dff6;
}
.outboundMsgGridRecordDisabled,
.outboundMsgGridRecordDisabledDark {
    font-size: 11px;
    color:#aaaaaa;
	border-bottom: 1px solid;
    border-bottom-color: #ededed;
	background-color:#ffffff;
}
